Repository raoulg/DME22: changes, and which lefthook commands are due for each by the changed paths.
All: toml-sort, mdformat, mypy

toml-sort:
  run: pdm run toml-sort {staged_files}
  stage_fixed: true

mdformat:
  run: pdm run mdformat {staged_files}
  stage_fixed: true

mypy:
  run: pdm run mypy --pretty {staged_files}

gitignore
  .gitignore
Due: none

[pdm] jupyter
  pdm.lock
  pyproject.toml
Due: toml-sort

pydantic basemodel
  notebooks/les1/src/settings.py
Due: mypy

[lefthook] mypy ignore missing imports
  .lefthook.yml
Due: none

[pdm] added build backend
  pyproject.toml
Due: toml-sort

gitkeep data/processed
  notebooks/les1/data/processed/.gitkeep
Due: none

ignored processed data
  .gitignore
Due: none

ignore future warning
  notebooks/les1/cleaning_data.ipynb
  notebooks/les2/1-demo.ipynb
Due: none

future warnings, fix cat lost inplace argument
  notebooks/les2/3-explore_solutions.ipynb
Due: none

[les 3] add ignore warnings seaborn
  notebooks/les3/sklearn_modelling.ipynb
  notebooks/les3/stats.ipynb
Due: none

[pdm] fix pymc, add fitter
  pdm.lock
  pyproject.toml
Due: toml-sort

clean up readme
  README.md
  notebooks/les2/README.md
Due: mdformat

debug
  notebooks/les4/src/minimal.py
  notebooks/les4/src/regex.py
  notebooks/les4/src/settings.py
Due: mypy

lycheeignore, setup
  .lycheeignore
  docs/set_up.md
Due: mdformat

[venv] make venv maanger more generic
  notebooks/les1/cleaning_data.ipynb
Due: none

[les 1] added some more directions about possible venv confusion
  notebooks/les1/cleaning_data.ipynb
Due: none

[devcontainer] improved devcontainer setup
  .devcontainer/devcontainer.json
Due: none

[pdm] updated pdm lockfile
  pdm.lock
Due: none

[les3] some comments
  notebooks/les3/src/preprocess.py
Due: mypy

rename notebooks
  notebooks/les3/01_stats.ipynb
  notebooks/les3/02_sklearn_modelling.ipynb
  notebooks/les3/03_probabilistic_modelling.ipynb
Due: none

update lefthook
  .lefthook.yml
Due: none

add minimal dashboard
  notebooks/les4/Makefile
  notebooks/les4/dashboard.py
  pdm.lock
  pyproject.toml
Due: toml-sort, mypy

[les4] clean up knmi
  notebooks/les4/src/__init__.py
  notebooks/les4/src/example.py
  notebooks/les4/src/knmi.py
  notebooks/les4/src/minimal.py
  notebooks/les4/src/preprocess.py
  notebooks/les4/src/regex.py
  notebooks/les4/src/settings.py
  notebooks/les4/src/visualization.py
  notebooks/les4/src/weather.py
Due: mypy

les 5 pipelines and models, clean up old code
  notebooks/les5/1-kernels.ipynb
  notebooks/les5/2-gridsearch.ipynb
  notebooks/les5/3-pipelines.ipynb
  notebooks/les5/4-pipelines_excercise.ipynb
  notebooks/les5/5-pipelines_excercise_solutions.ipynb
  notebooks/les5/src/__init__.py
  notebooks/les5/src/models/__init__.py
  notebooks/les5/src/models/train_model.py
  notebooks/les5/src/visualization/__init__.py
  notebooks/les5/src/visualization/visualize.py
  notebooks/les6/les_voorbeeld.py
  notebooks/les7/src/models/__init__.py
  notebooks/les7/src/visualization/.gitkeep
  notebooks/les7/src/visualization/__init__.py
Due: mypy

[pdm] update dependencies
  pdm.lock
  pyproject.toml
Due: toml-sort

lesmateriaal streamlit
  notebooks/les4/dashboard_2.py
  notebooks/les4/dashboard_3.py
  notebooks/les4/dashboard_4.py
  presentaties/4.1_Dashboarding.pdf
Due: mypy

add 101 classes
  notebooks/les5/101_classes.ipynb
Due: none

correlation notebook and fix bugs in old classes presentation
  notebooks/les6/correlations.ipynb
  notebooks/les6/data/raw/correlation.csv
  presentaties/6.0_classes.html
  presentaties/6.0_classes.qmd
Due: none

add formatters to PoC
  docs/codestyle/CodestyleStandards.md
Due: mdformat

udpate lefthook
  .lefthook.yml
  docs/codestyle/CodestyleStandards.md
Due: mdformat

adding native python to dependencies
  docs/dependencies/03_dependencies_management.md
Due: mdformat

adding examples of classification and regression
  .lefthook.yml
  notebooks/les7/cancer_data.csv
  notebooks/les7/classification.ipynb
  notebooks/les7/classification_excercise_solutions.ipynb
  notebooks/les7/classification_excercises.ipynb
  notebooks/les7/regression_and_regularization.ipynb
  pdm.lock
  pyproject.toml
Due: toml-sort

Path conditions:
  toml-sort: any of: *.toml
  mdformat: any of: *.md
  mypy: any of: *.py
